.feynman {
  display: flex;
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  margin: 100px auto 70px;
}
.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
}
.feynman__illustration {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
